
body {
  background-color: black;
  color: whitesmoke;
  font-family:sans-serif;  
}

#heading{
text-align:center;   
}

button{
background-color: black;    
color: yellow;    
}

.warning{
background-color: darkred;
color: white;
}

.success{
background-color: darkgreen;
color: white;
}